In [ ]:
!pip install alpaca-trade-api

Collecting alpaca-trade-api
  Downloading https://files.pythonhosted.org/packages/f0/43/f54af2b0f39c208724b298c4378c735da86b862d839bf4e0964ec4306ebc/alpaca_trade_api-0.48-py3-none-any.whl
Collecting websockets>=8.0
  Downloading https://files.pythonhosted.org/packages/bb/d9/856af84843912e2853b1b6e898ac8b802989fcf9ecf8e8445a1da263bf3b/websockets-8.1-cp36-cp36m-manylinux2010_x86_64.whl (78kB)
     |████████████████████████████████| 81kB 3.2MB/s
Collecting asyncio-nats-client
  Downloading https://files.pythonhosted.org/packages/0a/10/2514910976d92a970fe3889ff29bbfff3613d942d90cd9f300ddd0b5fe4c/asyncio-nats-client-0.10.0.tar.gz
Requirement already satisfied: urllib3<1.25 in /usr/local/lib/python3.6/dist-packages (from alpaca-trade-api) (1.24.3)
Collecting websocket-client
  Downloading https://files.pythonhosted.org/packages/4c/5f/f61b420143ed1c8dc69f9eaec5ff1ac36109d52c80de49d66e0c36c3dfdf/websocket_client-0.57.0-py2.py3-none-any.whl (200kB)
     |████████████████████████████████| 204kB 19.0MB/s
Collecting deprecated
  Downloading https://files.pythonhosted.org/packages/76/a1/05d7f62f956d77b23a640efc650f80ce24483aa2f85a09c03fb64f49e879/Deprecated-1.2.10-py2.py3-none-any.whl
Collecting alpha-vantage
  Downloading https://files.pythonhosted.org/packages/12/e3/72ec32d859a363c2eebaa42e0d4abb5ac7172a7a77a2307576ceb5fc1b42/alpha_vantage-2.2.0.tar.gz
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from alpaca-trade-api) (2.23.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from alpaca-trade-api) (1.0.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from websocket-client->alpaca-trade-api) (1.12.0)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.6/dist-packages (from deprecated->alpaca-trade-api) (1.12.1)
Collecting aiohttp
  Downloading https://files.pythonhosted.org/packages/7c/39/7eb5f98d24904e0f6d3edb505d4aa60e3ef83c0a58d6fe18244a51757247/aiohttp-3.6.2-cp36-cp36m-manylinux1_x86_64.whl (1.2MB)
     |████████████████████████████████| 1.2MB 44.6MB/s
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->alpaca-trade-api) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->alpaca-trade-api) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->alpaca-trade-api) (2020.6.20)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas->alpaca-trade-api) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->alpaca-trade-api) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->alpaca-trade-api) (2.8.1)
Collecting async-timeout<4.0,>=3.0
  Downloading https://files.pythonhosted.org/packages/e1/1e/5a4441be21b0726c4464f3f23c8b19628372f606755a9d2e46c187e65ec4/async_timeout-3.0.1-py3-none-any.whl
Requirement already satisfied: typing-extensions>=3.6.5; python_version < "3.7" in /usr/local/lib/python3.6/dist-packages (from aiohttp->alpha-vantage->alpaca-trade-api) (3.7.4.2)
Collecting yarl<2.0,>=1.0
  Downloading https://files.pythonhosted.org/packages/95/8f/0209fc5d975f839344c33c822ff2f7ef80f6b1e984673a5a68f960bfa583/yarl-1.4.2-cp36-cp36m-manylinux1_x86_64.whl (252kB)
     |████████████████████████████████| 256kB 47.0MB/s
Collecting multidict<5.0,>=4.5
  Downloading https://files.pythonhosted.org/packages/1a/95/f50352b5366e7d579e8b99631680a9e32e1b22adfa1629a8f23b1d22d5e2/multidict-4.7.6-cp36-cp36m-manylinux1_x86_64.whl (148kB)
     |████████████████████████████████| 153kB 43.3MB/s
Collecting idna-ssl>=1.0; python_version < "3.7"
  Downloading https://files.pythonhosted.org/packages/46/03/07c4894aae38b0de52b52586b24bf189bb83e4ddabfe2e2c8f2419eec6f4/idna-ssl-1.1.0.tar.gz
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.6/dist-packages (from aiohttp->alpha-vantage->alpaca-trade-api) (19.3.0)
Building wheels for collected packages: asyncio-nats-client, alpha-vantage, idna-ssl
  Building wheel for asyncio-nats-client (setup.py) ... done
  Created wheel for asyncio-nats-client: filename=asyncio_nats_client-0.10.0-cp36-none-any.whl size=21612 sha256=8446cc85c11a2c7694467f472a9c1083fec25188281b9c3c4018a9fed869ddbd
  Stored in directory: /root/.cache/pip/wheels/21/41/ba/99c64794c44114bce891c814c6e242a152340c978c5907a82b
  Building wheel for alpha-vantage (setup.py) ... done
  Created wheel for alpha-vantage: filename=alpha_vantage-2.2.0-cp36-none-any.whl size=25705 sha256=b65519b25c8ff99bbd74c0b297e51a11fa7a06e52449a59273a8d8f00d023fdf
  Stored in directory: /root/.cache/pip/wheels/3a/fa/05/80b0afcbd2a4de8bd2a0c5cd77084e3d3a9cc12c48be9b7f84
  Building wheel for idna-ssl (setup.py) ... done
  Created wheel for idna-ssl: filename=idna_ssl-1.1.0-cp36-none-any.whl size=3162 sha256=9d4a75cc901fd3ac38bec02e1ca9ae466d1b38d78c911d5ef00f67e5302b8649
  Stored in directory: /root/.cache/pip/wheels/d3/00/b3/32d613e19e08a739751dd6bf998cfed277728f8b2127ad4eb7
Successfully built asyncio-nats-client alpha-vantage idna-ssl
Installing collected packages: websockets, asyncio-nats-client, websocket-client, deprecated, async-timeout, multidict, yarl, idna-ssl, aiohttp, alpha-vantage, alpaca-trade-api
Successfully installed aiohttp-3.6.2 alpaca-trade-api-0.48 alpha-vantage-2.2.0 async-timeout-3.0.1 asyncio-nats-client-0.10.0 deprecated-1.2.10 idna-ssl-1.1.0 multidict-4.7.6 websocket-client-0.57.0 websockets-8.1 yarl-1.4.2

In [ ]:
!pip install colab-env -qU

  Building wheel for colab-env (setup.py) ... done

In [ ]:
pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests) (2020.6.20)

In [ ]:
pip install -U python-dotenv

Requirement already up-to-date: python-dotenv in /usr/local/lib/python3.6/dist-packages (0.14.0)

In [ ]:
import numpy as np
import pandas as pd
import os
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi
%matplotlib inline
from statistics import mean 
from dotenv import load_dotenv
import json
import requests
import colab_env
load_dotenv()

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

True

In [ ]:

# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
type(alpaca_api_key)
api = tradeapi.REST(alpaca_api_key, alpaca_secret_key, api_version='v2')
# Get all Asstes
assets = api.list_assets()

# Keep only tradeable assets
tradeable = [asset for asset in assets if asset.tradable ]

In [ ]:
# Set the ticker
ticker = "TSLA"

# Set timeframe to '1D'
timeframe = '1D'

# Set start and end datetimes of 1 year, between now and 365 days ago.
start_date = pd.Timestamp('2018-07-01', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2020-07-05', tz='America/New_York').isoformat()

# Get 1 year's worth of historical data for TSLA
df = api.get_barset(
    ticker,
    timeframe,
    limit=None,
    start=start_date,
    end=end_date,
    after=None,
    until=None,
).df

df.head()

                               TSLA
                               open    high     low     close    volume
2018-07-02 00:00:00-04:00  360.2800  364.78  329.85  335.0700  14936701
2018-07-03 00:00:00-04:00  331.9100  332.49  309.69  310.9247   9605990
2018-07-05 00:00:00-04:00  313.7600  314.39  296.22  309.1100  13989015
2018-07-06 00:00:00-04:00  304.9545  312.07  302.00  308.9100   7097253
2018-07-09 00:00:00-04:00  311.8553  318.52  308.00  318.2900   5743049

In [ ]:
# Drop Outer Table Level
df = df.droplevel(axis=1, level=0)

# Use the drop function to drop extra columns
df.drop(columns=['open', 'high', 'low'], inplace=True)

# Since this is daily data, we can keep only the date (remove the time) component of the data
df.index = df.index.date

df.head()

               close    volume
2018-07-02  335.0700  14936701
2018-07-03  310.9247   9605990
2018-07-05  309.1100  13989015
2018-07-06  308.9100   7097253
2018-07-09  318.2900   5743049

In [ ]:

df['daily_returns_tsla']=df['close'].pct_change()
df['daily_returns_tsla_volume']=df['volume'].pct_change()
df.dropna(inplace=True)
df.drop(columns=['close', 'volume'], inplace=True)
df.head()

            daily_returns_tsla  daily_returns_tsla_volume
2018-07-03           -0.072060                  -0.356887
2018-07-05           -0.005836                   0.456280
2018-07-06           -0.000647                  -0.492655
2018-07-09            0.030365                  -0.190807
2018-07-10            0.012818                   0.236055

In [ ]:
ticker = "TLT"

# Set timeframe to '1D'
timeframe = '1D'

# Set start and end datetimes of 1 year, between now and 365 days ago.
start_date = pd.Timestamp('2018-07-01', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2020-07-05', tz='America/New_York').isoformat()


# Get 1 year's worth of historical data for TSLA
df_tlt = api.get_barset(
    ticker,
    timeframe,
    limit=None,
    start=start_date,
    end=end_date,
    after=None,
    until=None,
).df

df_tlt.head()

                              TLT
                             open    high       low   close   volume
2018-07-02 00:00:00-04:00  121.74  121.75  121.2901  121.36  8247467
2018-07-03 00:00:00-04:00  121.53  122.03  121.5300  121.98  3087020
2018-07-05 00:00:00-04:00  122.06  122.53  122.0100  122.33  3223311
2018-07-06 00:00:00-04:00  122.75  122.92  122.4800  122.71  3866259
2018-07-09 00:00:00-04:00  122.05  122.21  121.9000  121.96  4645923

In [ ]:
df_tlt = df_tlt.droplevel(axis=1, level=0)

# Use the drop function to drop extra columns
df_tlt.drop(columns=['open', 'high', 'low'], inplace=True)

# Since this is daily data, we can keep only the date (remove the time) component of the data
df_tlt.index = df_tlt.index.date

df_tlt.head()

             close   volume
2018-07-02  121.36  8247467
2018-07-03  121.98  3087020
2018-07-05  122.33  3223311
2018-07-06  122.71  3866259
2018-07-09  121.96  4645923

In [ ]:
df_tlt['daily_returns_tlt']=df_tlt['close'].pct_change()
df_tlt['daily_returns_tlt_volume']=df_tlt['volume'].pct_change()
df_tlt.drop(columns=['close', 'volume'], inplace=True)
df_tlt.dropna(inplace=True)
df_tlt.head()

            daily_returns_tlt  daily_returns_tlt_volume
2018-07-03           0.005109                 -0.625701
2018-07-05           0.002869                  0.044150
2018-07-06           0.003106                  0.199468
2018-07-09          -0.006112                  0.201659
2018-07-10          -0.000082                 -0.079239

In [ ]:
features_df=pd.concat([df_tlt,df],axis=1,join='inner')
features_df.drop(df.tail(4).index,inplace=True) 
features_df

            daily_returns_tlt  ...  daily_returns_tsla_volume
2018-07-03           0.005109  ...                  -0.356887
2018-07-05           0.002869  ...                   0.456280
2018-07-06           0.003106  ...                  -0.492655
2018-07-09          -0.006112  ...                  -0.190807
2018-07-10          -0.000082  ...                   0.236055
...                       ...  ...                        ...
2020-06-22           0.000123  ...                  -0.230835
2020-06-23          -0.006572  ...                  -0.015284
2020-06-24           0.010705  ...                   0.782926
2020-06-25           0.002577  ...                  -0.176231
2020-06-26           0.010827  ...                  -0.124319

[500 rows x 4 columns]

In [ ]:
from google.colab import files

features_df.to_csv("features_df.csv")
files.download('features_df.csv')

In [ ]:
#Shifiting the target column
y=[]
dr=features_df['daily_returns_tsla']
for i in dr:
  if i>0:
    y.append(1)
  else:
    y.append(0)
y.pop(0)
y.append(9)
features_df['target']=y
features_df.drop(features_df.tail(1).index,inplace=True) 
features_df.head(10)

            daily_returns_tlt  ...  target
2018-07-03           0.005109  ...       0
2018-07-05           0.002869  ...       0
2018-07-06           0.003106  ...       1
2018-07-09          -0.006112  ...       1
2018-07-10          -0.000082  ...       0
2018-07-11           0.003936  ...       0
2018-07-12          -0.000163  ...       1
2018-07-13           0.002614  ...       0
2018-07-16          -0.004318  ...       1
2018-07-17          -0.001882  ...       1

[10 rows x 5 columns]

In [ ]:
features_df.shape

(499, 5)

In [ ]:
#from google.colab import files

#dates_1=pd.DataFrame({"date": pd.Series(features_df.index)})
#dates_1.to_csv("dates.csv")
#files.download('dates.csv')

In [ ]:
sentiment=pd.read_csv('/allapinewscompound.csv')
sentiment.drop(columns=['daily_returns_tlt'	,'daily_returns_tlt_volume',	'daily_returns_tsla',	'daily_returns_tsla_volume',	'target'],inplace=True)
sentiment.columns=['date','gnews_&_stockapi_mean_compound']
sentiment.set_index('date', inplace=True)
sentiment.head()

            gnews_&_stockapi_mean_compound
date
2018-07-03                       -0.016740
2018-07-05                       -0.450450
2018-07-06                       -0.423822
2018-07-09                        0.122037
2018-07-10                        0.097726

In [ ]:
features_df['avg_sentiment']=sentiment['gnews_&_stockapi_mean_compound'].tolist()
features_df

            daily_returns_tlt  daily_returns_tlt_volume  ...  target  avg_sentiment
2018-07-03           0.005109                 -0.625701  ...       0      -0.016740
2018-07-05           0.002869                  0.044150  ...       0      -0.450450
2018-07-06           0.003106                  0.199468  ...       1      -0.423822
2018-07-09          -0.006112                  0.201659  ...       1       0.122037
2018-07-10          -0.000082                 -0.079239  ...       0       0.097726
...                       ...                       ...  ...     ...            ...
2020-06-19           0.000616                 -0.382424  ...       0       0.201724
2020-06-22           0.000123                 -0.069760  ...       1       0.259793
2020-06-23          -0.006572                  0.124087  ...       0       0.141681
2020-06-24           0.010705                  0.314312  ...       1      -0.075773
2020-06-25           0.002577                 -0.098945  ...       0      -0.194380

[499 rows x 6 columns]

In [ ]:
features_df=features_df[['daily_returns_tlt'	,'daily_returns_tlt_volume'	,'daily_returns_tsla',	'daily_returns_tsla_volume'	,'avg_sentiment','target'	]]
features_df.head()

            daily_returns_tlt  daily_returns_tlt_volume  ...  avg_sentiment  target
2018-07-03           0.005109                 -0.625701  ...      -0.016740       0
2018-07-05           0.002869                  0.044150  ...      -0.450450       0
2018-07-06           0.003106                  0.199468  ...      -0.423822       1
2018-07-09          -0.006112                  0.201659  ...       0.122037       1
2018-07-10          -0.000082                 -0.079239  ...       0.097726       0

[5 rows x 6 columns]

In [ ]:
from google.colab import files

features_df.to_csv("tesla_features.csv")
files.download('tesla_features.csv')